@media (max-width: 1280px) {
    body {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes .descricao {
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 425px) {
    .container_conteudo {
        min-height: 0;
    }

    .botoes_responsivo {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .botoes_responsivo .botao {
        background-color: var(--cor-branca);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid transparent;
        cursor: pointer;
        border-color: var(--cor-branca);
    }

    .botoes_responsivo .botao.selecionado {
        background-color: #1d8346;
    }

    .informacoes .logo {
        max-width: 300px;
    }

    .informacoes .descricao {
        width: 100%;
        font-size: 16px;
    }

    .botoes_carrossel {
        padding: 15px;
    }

    .menu_lateral {
        position: static;
        min-height: auto;
        width: 100%;
        margin-top: 50px;
    }

    .menu_lateral ul {
        flex-direction: row;
    }

    .conteudo {
        min-height: 10vh;
        gap: 50px;
    }

    body {
        padding: 40px;
    }

    .container_carrossel {
        display: none;
    }

    .imagem {
        display: block;
    }

    .container_responsivo {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .container_imagem {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        /* não deixa a imagem ficar distorcida*/
        display: none;
    }

    .container_imagem.ativa {
        display: block;
        animation: mudarImagem 0.7s;
    }

    @keyframes mudarImagem {
        from {
            opacity: 0.85;
        }
        to {
            opacity: 1;
        }
    }
}