:root {
    --font-principal: 'Poppins', sans-serif;
    --cor-branca: #ffffff;
}

body {
    font-family: var(--font-principal);
    max-width: 1280px;
    margin: 0 auto;
}

main:after {
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
    z-index: -1;
}

.container_conteudo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.informacoes .logo {
    max-width: 350px;
    margin-bottom: 80px;
}

.informacoes .descricao {
    width: 49%;
    font-size: 24px;
    color: var(--cor-branca);
    line-height: 30px;
}

.botoes_carrossel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes_carrossel .botao {
    background-color: var(--cor-branca);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: var(--cor-branca);
}

.botoes_carrossel .botao.selecionado {
    background-color: #1d8346;
}

.menu_lateral {
    position: fixed;
    width: 80px;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.menu_lateral ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu_lateral .icone {
    width: 30px;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

.menu_lateral .icone:hover {
    transform: scale(1.2);
}

.container_carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.imagem {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* não deixa a imagem ficar distorcida*/
    display: none;
}

.imagem.ativa {
    display: block;
    animation: mudarImagem 0.7s;
}

.container_responsivo {
    display: none;
}

@keyframes mudarImagem {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 1;
    }
}